/*Diseño aquí, porque intrusivo es el diablo*/

.menu {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navbar {
    display: flex;
}

.menu-1 {
    background-color: rgb(0, 0, 0);
    margin-right: 100px;
    width: 600px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 40px;
}

.logo-1 {
    margin-right: 40px;
    width: 60px;
    height: 50px;
    border-radius: 20px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
    margin-top: 15px;
}

.menu .navbar ul li a {
    font-size: 16px;
    padding: 30px;
    color: rgb(255, 255, 255);
    display: block;
    text-decoration: none;
}

.menu .navbar ul li a:hover {
    color: rgb(151, 152, 153);
}

.btn-1 {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 40px;
    border: none;
    width: 150px;
    height: 45px;
}

.btn-1:hover {
    color: rgb(151, 152, 153);
}

#menu {
    position: fixed;
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    position: fixed;
    cursor: pointer;
    display: none;
}

.header-content {
    margin-top: 200px;
    padding-bottom: 50px;
}

#list {
    background-color: rgb(244, 246, 248);
    padding: 10px;
}

#selectBusqueda {
    display: none;
}

body {
    background-color: rgb(244, 246, 248);
}
.row {
    margin-top: 110px;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #000000;
    color:#fff;
}

.btn-2 {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 40px;
    border: none;
    width: 150px;
    height: 45px;
    float: right;
}

.btn-2:hover {
    color: rgb(151, 152, 153);
}




//Pipio
